
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', system-ui, sans-serif;
}


.app-content {
  position: relative;
  z-index: 10;

  height: 100vh;
  overflow-y: auto;   
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 56px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;

  text-shadow:
    0 0 5px rgba(0, 0, 0, 0.297),
    0 0 10px rgba(0, 0, 0, 0.182);
  color: #3d5740;
  /* Juraj zmenil, predtym bolo default */
}
